* {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.response {
    text-transform: uppercase;
}